<!-- index.html -->
<!DOCTYPE html>
<html>
<head>

		<!-- angularJs -->
		<script src="resources/libs/angularjs/angular.min.js"></script>
		<script src="resources/libs/angularjs/angular-resource.min.js"></script>
		<script src="resources/libs/angularjs/angular-route.min.js"></script>
		<script src="resources/libs/angularjs/angular-google-maps.min.js"></script>
		
		<!-- Aplication controller -->
		<script src="resources/js/app.js"></script>
		
		<!-- Controllers -->
		<script src="resources/js/controllers/emptyController.js"></script>
		<script src="resources/js/controllers/reservaController.js"></script>
		
		<!-- Modules -->
		<script src="resources/js/modules/restApiModule.js"></script>
</head>


<body ng-app="app" >
	<div ng-view></div>
</html>