<head>
</head>
<style>
.wrapper{
	width: 650px;
	margin: 0 auto;
	box-shadow: 5px 5px 5px #555;
	background: #fff;
	border-radius: 15px;
	padding: 10px; 
}

.angular-google-map-container { height: 400px; }
</style>

<body>
<br>
<div class="wrapper">
	<form ng-submit="successEvent()">
		<h2>{{titulo}}</h2>
		<table width = "60%"> 
		<tr>
			<td>Deporte:</td><td><input type="text" ng-model="nuevoPartido.deporte"></input></td>
		</tr>
		<tr>
			<td>Lugar:</td><td><input type="text" ng-model="nuevoPartido.lugar"></input></td>
		</tr>
		<tr>
			<td>Fecha:</td><td><input type="text" ng-model="nuevoPartido.fecha"></input></td>
		</tr>
		<tr>
			<td>Hora:</td><td><input type="text" ng-model="nuevoPartido.hora"></input></td>
		</tr>
		<tr>
			<td>Cantidad de jugadores titulares:</td><td><input type="text" ng-model="nuevoPartido.titulares"></input></td>
		</tr>
		<tr>
			<td>Cantidad de jugadores suplente:</td><td><input type="text" ng-model="nuevoPartido.suplentes"></input></td>
		</tr>
		</table>
		<button type="submit" >Volver</button>
		<button ng-click="Save()">Guargar</button>
	</form>
	
</div>
<div>
  <map center="current-location" zoom="6">
    <info-window position="current-location" visible="true">
      <span>Loation found using HTML5.</span>
    </info-window>
  </map>
</div>
<br>	
</body>